<div class="item edu">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Agregar Educacion</h1>
            </div>
            <div class="modal-body">
                <form class="edit-edu">
                    <label for="Titulo" class="form-label">Titulo</label>
                    <input type="text" class="form-control" id="Titulo">

                    <label for="Institucion" class="form-label">Institucion</label>
                    <input type="text" class="form-control" id="Institucion">

                    <label for="Fecha" class="form-label">Fecha</label>
                    <input type="text" class="form-control" id="Fecha">

                    <label for="Descripcion" class="form-label">Descripcion</label>
                    <input type="text" class="form-control" id="Descripcion">

                    <label for="imagen" class="form-label">Imagen</label>
                    <input type="file" class="form-control" id="imagen" accept=".jpg, .png, .jpeg">
                </form>
            </div>
            <div class="modal-footer d-flex justify-content-around">
                <button type="submit" class="btn btn-secondary">Agregar</button>
                <button class="btn btn-danger">Cancelar</button>
            </div>
        </div>
    </div>
</div>
