<!-- SECCIÓN Proyecto -->
<section id="proyectos" class="proyectos">
    <div class="row m-0 p-0 container-fluid justify-content-center text-white">
        <h2 class="text-center">Proyectos</h2>
        <div class="proyecto">

            <!-- Proyecto 1 -->
            <div class="col-lg-4 col-md-5 col-sm-8 tarjeta">
                <div class="tar-head">
                    <div class="head-img">
                        <img src="assets/img/portafolio.jpg" alt="portafolioweb">
                    </div>
                    <div class="head-proy">
                        <i class="fa-solid fa-circle-info"></i>
                        <div class="proy-titulo">
                            <h4>Proyecto</h4>
                            <h6>Tomás Caratti</h6>
                        </div>
                    </div>
                </div>
                <div class="tar-body">
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sapiente, odit aspernatur quod natus quaerat exercitationem.</p>
                    <div class="repo-live">
                        <a href="#" target="_bank"><i class="fa-solid fa-up-right-from-square"></i>LIVE DEMO</a>
                        <a href="#" target="_bank"><i class="fa-brands fa-github"></i>REPOSITORIO</a>                                
                    </div>
                </div>
            </div>
            <!-- Proyecto 2 -->
            <div class="col-lg-4 col-md-5 col-sm-8 tarjeta">
                <div class="tar-head">
                    <div class="head-img">
                        <img src="assets/img/empresa.jpeg" alt="portafolioweb">
                    </div>
                    <div class="head-proy">
                        <i class="fa-solid fa-circle-info"></i>
                        <div class="proy-titulo">
                            <h4>Proyecto</h4>
                            <h6>Tomás Caratti</h6>
                        </div>
                    </div>
                </div>
                <div class="tar-body">
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sapiente, odit aspernatur quod natus quaerat exercitationem.</p>
                    <div class="repo-live">
                        <a href="#" target="_bank"><i class="fa-solid fa-up-right-from-square"></i>LIVE DEMO</a>
                        <a href="#" target="_bank"><i class="fa-brands fa-github"></i>REPOSITORIO</a>                                
                    </div>
                </div>
            </div>
            <!-- Proyecto 3 -->
            <div class="col-lg-4 col-md-5 col-sm-8 tarjeta">
                <div class="tar-head">
                    <div class="head-img">
                        <img src="assets/img/chacinados.jpg" alt="portafolioweb">
                    </div>
                    <div class="head-proy">
                        <i class="fa-solid fa-circle-info"></i>
                        <div class="proy-titulo">
                            <h4>Proyecto</h4>
                            <h6>Tomás Caratti</h6>
                        </div>
                    </div>
                </div>
                <div class="tar-body">
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sapiente, odit aspernatur quod natus quaerat exercitationem.</p>
                    <div class="repo-live">
                        <a href="#" target="_bank"><i class="fa-solid fa-up-right-from-square"></i>LIVE DEMO</a>
                        <a href="#" target="_bank"><i class="fa-brands fa-github"></i>REPOSITORIO</a>                                
                    </div>
                </div>
            </div>
            <!-- Proyecto 4 -->
            <div class="col-lg-4 col-md-5 col-sm-8 tarjeta">
                <div class="tar-head">
                    <div class="head-img">
                        <img src="assets/img/depto.jpg" alt="portafolioweb">
                    </div>
                    <div class="head-proy">
                        <i class="fa-solid fa-circle-info"></i>
                        <div class="proy-titulo">
                            <h4>Proyecto</h4>
                            <h6>Tomás Caratti</h6>
                        </div>
                    </div>
                </div>
                <div class="tar-body">
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sapiente, odit aspernatur quod natus quaerat exercitationem.</p>
                    <div class="repo-live">
                        <a href="#" target="_bank"><i class="fa-solid fa-up-right-from-square"></i>LIVE DEMO</a>
                        <a href="#" target="_bank"><i class="fa-brands fa-github"></i>REPOSITORIO</a>                                
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
