/* --- Proyectos Modo Vista--- */
.proyectos {
    margin: 2rem;
    border-bottom: 0.1rem solid var(--themeBGColor);
}
h2 {
    font-weight: 600;
    font-size: 2.2rem;
    margin-top: 3.5rem !important;
    padding-bottom: 1rem !important;
    border-bottom: 0.1rem solid var(--themeBGColor);
}
.proyecto {
    padding: 1rem 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
.proyecto .tarjeta {
    margin: 0.5rem;
    transition: all .3s;
}
.proyecto .tarjeta:hover {
    z-index: 15;
}
.proyecto .tarjeta .tar-head {
    width: 100%;
    height: 20rem;
    padding: 0.5rem;
    border-radius: 20px;
    background: var(--BGColor);
    border: 0.2rem solid var(--iconBGColor);
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 10;
    transition: all .3s cubic-bezier(0.2,0,0,1);
}
.proyecto .tarjeta:hover .tar-head {
    border: none;
    margin-top: -7rem;
    background: var(--iconBGColor);
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.proyecto .tarjeta .tar-head .head-img img {
    width: 100%;
    height: 15rem;
    border-radius: 20px;
}
.proyecto .tarjeta .tar-head .head-proy{
    display: flex;
    padding-top: 0.5rem;
    padding-bottom: 0;
    align-items: center;
}
.proyecto .tarjeta .tar-head .head-proy i {
    display: inline-block;
    text-align: center;
    width: 2.6rem;
    height: 2.6rem;
    line-height: 2.7rem;
    font-size: 1.7rem;
    border-radius: 50%;
    margin-right: 1rem;
    background-color: var(--iconBGColor);
    transition: all .3s cubic-bezier(0.2,0,0,1);
}
.proyecto .tarjeta:hover .tar-head .head-proy i {
    background-color: var(--themeBGColor);
}
.proyecto .tarjeta .tar-head .head-proy h4 {
    padding: 0;
    margin-bottom: 0.2rem;
    font-weight: 500;
}
.proyecto .tarjeta .tar-head .head-proy h6 {
    padding: 0;
    margin: 0;
    font-weight: 300;
    font-size: 0.9rem;
    color: var(--themeBGColor);
}
.proyecto .tarjeta .tar-body {
    width: 100%;
    height: 12rem;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background: var(--iconBGColor);
    padding: 0 1rem;
    margin-top: -12rem;
    transition: all .3s cubic-bezier(0.2,0,0,1);
}
.proyecto .tarjeta:hover .tar-body {
    margin-top: 0;
}
.proyecto .tarjeta .tar-body p {
    margin: 0;
    height: 6rem;
}
.proyecto .tarjeta .tar-body .repo-live {
    padding-top: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.proyecto .tarjeta .tar-body .repo-live a {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.2rem;
    margin-bottom: 0.3rem;
    border-radius: 20px;
    color: var(--iconColor);
    background-color: var(--bg-btn-primary);
    text-decoration: none;
}
.proyecto .tarjeta .tar-body .repo-live a i {
    display: inline-block;
    text-align: center;
    width: 1.8rem;
    height: 1.8rem;
    line-height: 1.9rem;
    font-size: 1.1rem;
    border-radius: 50%;
    margin-right: 1rem;
    background-color: var(--iconBGColor);
}

/* --- Proyectos Modo Edicion--- */
.proyecto .tarjeta .tar-head-edit {
    width: 100%;
    padding: 0.5rem;
    border-radius: 20px;
    background: var(--BGColor);
    justify-content: center;
    align-items: center;
    background: var(--iconBGColor);
}
.proyecto .tarjeta .tar-head-edit .head-img-edit img {
    width: 100%;
    height: 15rem;
    margin-top: 0.2rem;
    border-radius: 20px;
}
.proyecto .tarjeta .tar-head .head-proy-edit{
    display: flex;
    padding-top: 0.5rem;
    padding-bottom: 0;
    align-items: center;
}
.proyecto .tarjeta .tar-head-edit .head-proy-edit h4 {
    padding: 0;
    margin-bottom: 0.2rem;
    font-weight: 500;
}
.proyecto .tarjeta .tar-head-edit .head-proy-edit h6 {
    padding: 0;
    margin: 0;
    font-weight: 300;
    font-size: 0.9rem;
    color: var(--themeBGColor);
}
.proyecto .tarjeta .tar-body-edit {
    width: 100%;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background: var(--iconBGColor);
    padding: 0 1rem;
    transition: all .3s cubic-bezier(0.2,0,0,1);
}
.proyecto .tarjeta .tar-body-edit .repo-live-edit {
    display: flex;
    align-items: center;
    justify-content: center;
}
.proyecto .tarjeta .tar-body-edit .repo-live-edit a {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.2rem;
    margin: 0.3rem;
    border-radius: 20px;
    color: var(--iconColor);
    background-color: var(--bg-btn-primary);
    text-decoration: none;
}
.proyecto .tarjeta .tar-body-edit .repo-live-edit a i {
    display: inline-block;
    text-align: center;
    width: 1.8rem;
    height: 1.8rem;
    line-height: 1.9rem;
    font-size: 1.1rem;
    border-radius: 50%;
    margin-right: 1rem;
    background-color: var(--iconBGColor);
}