<!-- SECCIÓN Datos & Intereses -->
<section id="datos-intereses" class="datos-intereses">
    <div class="row m-0 p-0 d-flex container-fluid text-white justify-content-center">
        <!-- Datos -->
        <div class="col-lg-4 me-lg-5">
            <h3>Datos Personales</h3>
            <div class="datos">
                <ul class="m-0 p-0">
                    <li>
                        <strong>Edad:</strong>
                        21 años
                    </li>
                    <li>
                        <strong>Telefono:</strong>
                        260 4277 008
                    </li>
                    <li>
                        <strong>E-mail:</strong>tomircaratti@gmail.com
                    </li>
                    <li>
                        <strong>Pais:</strong>
                        Argentina
                        <svg width="30" height="21" xmlns="http://www.w3.org/2000/svg">
                            <rect width="30" height="21"  fill="lightblue"/>
                            <rect x="0" y="7" width="30" height="7" fill="white"/>
                            <rect x="0" y="14" width="30" height="7" fill="lightblue"/>
                            <circle cx="15" cy="10.5" r="2" fill="yellow"/>
                        </svg>
                    </li>
                </ul>
            </div>
        </div>
        <!-- Intereses -->
        <div class="col-lg-5">
            <h3>Intereses</h3>
            <div class="intereses">
                <div class="interes">
                    <i class="fa-solid fa-microchip"></i>
                    <span>ELECTRÓNICA</span>
                </div>
                <div class="interes">
                    <i class="fa-solid fa-gears"></i>
                    <span>MECÁNICA</span>
                </div>
                <div class="interes">
                    <i class="fa-solid fa-desktop"></i>
                    <span>TECNOLOGÍA</span>
                </div>
                <div class="interes">
                    <i class="fa-solid fa-car"></i>
                    <span>AUTOS</span>
                </div>
                <div class="interes">
                    <i class="fa-solid fa-person-running"></i>
                    <span>DEPORTES</span>
                </div>
                <div class="interes">
                    <i class="fa-solid fa-mountain-sun"></i>
                    <span>NATURALEZA</span>
                </div>
                <div class="interes">
                    <i class="fa-solid fa-tent"></i>
                    <span>CAMPING</span>
                </div>
                <div class="interes">
                    <img src="assets/img/piano.svg" alt="piano">
                    <span>MÚSICA</span>
                </div>
            </div>
        </div>
    </div>
</section>