<div class="m-0 colum educacion">
    <h3 class="d-flex justify-content-between">Educacion
        <app-boton-add></app-boton-add>
    </h3>
    <!-- <app-edu-add></app-edu-add>
    <app-edu-edit></app-edu-edit> -->
    <div class="m-0 p-0" *ngFor="let Educacion of edu">
    <!-- <div class="m-0 p-0" > -->
        <div class="item edu">
            <!-- <div class="editar d-flex justify-content-end" *ngIf="isLogged"></div> -->
            <div class="editar d-flex justify-content-end ">
                <app-boton-edit></app-boton-edit>
                <app-boton-delet></app-boton-delet>
            </div>
            <div class="d-flex justify-content-between">
                <h4>{{ Educacion.tituloEdu}}</h4>
                <button type="button" class="certifi" data-bs-toggle="modal" data-bs-target="#certifi1Modal"><i class="fa-solid fa-address-card"></i></button>
            </div>
            <span class="casa">{{ Educacion.instiEdu }}</span>
            <span class="fecha">{{ Educacion.fechaEdu }}</span>
            <p class="m-0 p-0">{{ Educacion.descripcionEdu }}</p>
            <!-- <div class="d-flex justify-content-between position-relative">
                <h4>Titulo</h4>
                <button type="button" class="certifi position-absolute end-0 mt-3" data-bs-toggle="modal" data-bs-target="#certifi1Modal"><i class="fa-solid fa-address-card"></i></button>
            </div>
            <span class="casa">Institucion</span>
            <span class="fecha">Fecha</span>
            <p class="m-0 p-0">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ea repellendus ipsa eum inventore beatae!</p> -->
        </div>
<!--         
        <div class="item edu">
            <div class="editar d-flex justify-content-end ">
                <app-boton-edit></app-boton-edit>
                <app-boton-delet></app-boton-delet>
            </div>
            <div class="d-flex justify-content-between">
                <h4>Titulo</h4>
                <button type="button" class="certifi" data-bs-toggle="modal" data-bs-target="#certifi1Modal"><i class="fa-solid fa-address-card"></i></button>
            </div>
            <span class="casa">Institucion</span>
            <span class="fecha">Fecha</span>
            <p class="m-0 p-0">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ea repellendus ipsa eum inventore beatae!</p>
        </div>

        <div class="item edu">
            <div class="editar d-flex justify-content-end ">
                <app-boton-edit></app-boton-edit>
                <app-boton-delet></app-boton-delet>
            </div>
            <div class="d-flex justify-content-between">
                <h4>Titulo</h4>
                <button type="button" class="certifi" data-bs-toggle="modal" data-bs-target="#certifi1Modal"><i class="fa-solid fa-address-card"></i></button>
            </div>
            <span class="casa">Institucion</span>
            <span class="fecha">Fecha</span>
            <p class="m-0 p-0">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ea repellendus ipsa eum inventore beatae!</p>
        </div> -->
    </div>
</div>
