<!-- SECCIÓN Habilidades -->
<section id="habilidades" class="habilidades">
    <div class="row m-0 p-0 container-fluid justify-content-center text-white">
        <h2 class="text-center">Habilidades
            <app-boton-add class="position-absolute end-0 mx-5"></app-boton-add>
        </h2>
        <div class="col-lg-4 col-md-8 col-sm-10">
            <app-hab-add></app-hab-add>
        </div>
        <div class="col-lg-4 col-md-8 col-sm-10">
            <app-hab-edit></app-hab-edit>
        </div>
        <div class="col-lg-4 col-md-8 col-sm-10 habilidad">
            <div class="hab front">
                <div *ngIf="!false" class=" d-flex justify-content-between">
                    <span class="d-flex"><h5>HTML</h5><i class="fa-brands fa-html5 mx-2"></i></span>
                    <div class="editar d-flex">
                        <app-boton-edit></app-boton-edit>
                        <app-boton-delet></app-boton-delet>
                    </div>
                </div>
                <span class="d-flex justify-content-between" *ngIf="false"><h5>HTML</h5><i class="fa-brands fa-html5"></i></span>
                <div class="progress" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                    <div class="progress-bar" style="width: 85%">85%</div>
                </div>
            </div>
        </div>
    </div>
</section>
