/* --- Contacto / Datos & Lugar & Redes --- */
.contacto {
    margin-top: 6rem;
    padding: 1rem;
    background-image: url("../../../assets/img/footer.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--headerBGColor);
    color: var(--iconColor);
    opacity: 0.9;
}
/* --- Contacto --- */
.contacto .mensaje {
    padding: 1rem;
    border-radius: 20px;
    border: 0.2rem solid var(--iconBGColor);
}
.contacto .mensaje h3 {
    margin-bottom: 1rem;
    padding-bottom: 0.2rem;
    font-weight: 500;
    border-bottom: 0.1rem solid var(--themeBGColor);
}
.contacto .mensaje form .enviar {
    margin-top: 2rem;
    padding-top: 1rem;
    border-top: 0.1rem solid var(--themeBGColor);
}

/* --- Datos & Lugar & Redes --- */
.contacto .lugar {
    padding: 1rem 2rem;
    border-radius: 20px;
    border: 0.2rem solid var(--iconBGColor);
}
.contacto .lugar .tema-datos {
    padding-bottom: 1rem;
}
.contacto .lugar .tema-datos ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.contacto .lugar .tema-datos ul li {
    margin-bottom: 0.3rem;
    align-items: center;
}
.contacto .lugar .tema-datos ul li i {
    display: inline-block;
    margin-right: 1rem;
    width: 2rem;
    height: 2rem;
    line-height: 1.8rem;
    text-align: center;
    font-size: 1.2rem;
    border-radius: 50%;
    color: var(--themeBGColor);
    border: 0.15rem solid var(--themeBGColor);
    background-color: var(--iconBGColor);
} 
.contacto .lugar iframe {
    width: 100%;
    height: 40vh;
    margin-bottom: 0.5rem;
    border-radius: 20px;
    position: relative;
}

/* --- Redes --- */
.contacto .redes-sociales {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 0.5rem;
    border-top: 0.1rem solid var(--themeBGColor);
}
.contacto .redes-sociales a {
    margin: 0.5rem;
}
.contacto .redes-sociales a i {
    display: inline-block;
    width: 2.4rem;
    height: 2.4rem;
    line-height: 2.2rem;
    text-align: center;
    font-size: 1.4rem;
    border-radius: 50%;
    color: var(--themeBGColor);
    border: 0.15rem solid var(--themeBGColor);
    background-color: var(--iconBGColor);
    transition: .3s;
}
.contacto .redes-sociales a:hover i {
    color: var(--iconColor);
    background-color: var(--themeBGColor);
}
