<!-- SECCIÓN Contacto -->
<section id="contacto" class="contacto">
    <div class="row m-0 p-0 container-fluid justify-content-around">
        <!-- Contacto -->
        <div class="col-lg-4 col-md-8 mensaje mt-2">
            <h3 class="text-center">¡Contactame!</h3>
            <form novalidate="" id="contactFormulario" autocomplete="off" class="form">
                <div>
                    <label for="contactoNombre"></label>
                    <input id="contactoNombre" name="contactName" type="text" placeholder="Nombre" pattern="[A-Za-zÑñÁáÉéÍíÓóÚúÜü\s]+$" required="" class="form-control">
                </div>
                <div>
                    <label for="contactoEmail" ></label>
                    <input id="contactoEmail" name="contactEmail" type="email" placeholder="E-mail" pattern="^(\+[/./-]?){1,}@[a-z]+[/.]\w{2,}$" required="" class="form-control">
                </div>
                <div>
                    <label for="contactoAsunto"></label>
                    <input id="contactoAsunto" name="contactoAsunto" type="text" placeholder="Asunto" pattern="[A-Za-zÑñÁáÉéÍíÓóÚúÜü\s]+$" required="" class="form-control">
                </div>
                <div>
                    <label for="contactoComentario"></label>
                    <textarea id="contactoComentario" name="contactoComentario" cols="30" rows="4" placeholder="¡Dejame un mensaje!" required="" class="form-control" style="resize: none;"></textarea>
                </div>
                <div class="text-center enviar">                              
                    <button type="submit" class="btn btn-primary">Enviar<i class="fa-solid fa-paper-plane icon-p"></i></button>
                </div>
            </form>
        </div>
        <!-- Datos & Lugar & Redes -->
        <div class="col-lg-6 lugar mt-2">
            <div>
                <div class="tema-datos">
                    <ul>
                        <li><i class="fa-solid fa-phone"></i>260 4277 008</li>
                        <li><i class="fa-solid fa-envelope"></i>tomircaratti@gmail.com</li>
                        <li><i class="fa-sharp fa-solid fa-location-dot"></i>San Rafael, Mza.</li>
                    </ul>
                </div>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d40123.36555796707!2d-68.35303347250145!3d-34.615357070351166!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x967907fdb13d06a7%3A0xe0fb2796d473309d!2sSan%20Rafael%2C%20Mendoza!5e0!3m2!1ses!2sar!4v1677628812470!5m2!1ses!2sar" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="redes-sociales">
                <a href="https://github.com" target="_bank"><i class="fa-brands fa-github"></i></a>
                <a href="https://linkedin.com" target="_bank"><i class="fa-brands fa-linkedin"></i></a>
                <a href="https://instagram.com" target="_bank"><i class="fa-brands fa-instagram"></i></a>
                <a href="https://facebook.com" target="_bank"><i class="fa-brands fa-facebook"></i></a>
                <a href="https://twitter.com" target="_bank"><i class="fa-brands fa-twitter"></i></a>
            </div>
        </div>
    </div>
</section>
