<div class="edit">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Agregar Experiencia</h1>
            </div>
            <div class="modal-body">
                <form class="edit-exp" #f="ngForm" (ngSubmit)="onCreate()" novalidate>
                    <label for="cargo" class="form-label">Cargo</label>
                    <input type="text" class="form-control" id="cargo" name="cargoExp" [(ngModel)]="cargoExp" required>

                    <label for="empresa" class="form-label">Empresa</label>
                    <input type="text" class="form-control" id="empresa" name="empresaExp" [(ngModel)]="empresaExp" required>

                    <label for="fecha" class="form-label">Fecha</label>
                    <input type="text" class="form-control" id="fecha" name="fechaExp" [(ngModel)]="fechaExp" required>

                    <label for="descripcionExp" class="form-label">Descripcion</label>
                    <input type="text" class="form-control" id="descripcionExp" name="descripcionExp" [(ngModel)]="descripcionExp" required>
                    <div class="modal-footer d-flex justify-content-around">
                        <app-edicion></app-edicion>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
