.advertencia {
    margin-top: 10rem;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: var(--iconColor);
}
.error {
    padding: 1rem;
    align-items: center;
    justify-content: center;
}
.error span {
    padding-right: 1rem;
    color: var(--themeBGColor);
    font-size: 3rem;
    font-weight: 500;
}
.error i {
    font-size: 4rem;
}
.e404 {
    font-size: 5rem;
    font-weight: 800;
}