/* ----- Acerca De ----- */
.acerca-de {
    padding: 0 1rem;
	text-align: center;
    background-color: var(--headerBGColor);
}
.perfil {
	width: 14.5rem;
	height: 14.5rem;
    margin-top: -2rem;
    border-radius: 50%;
    border: 0.5rem solid var(--headerBGColor);
}
.informacion h1 {
    font-size: 2.4rem;
    font-weight: 800;
	padding-top: 13vh;
    color: var(--themeBGColor);
}
.informacion h3 {
    font-weight: 300;
    margin: 0;
    padding: 0.5rem 0;
}
.descripcion {
	padding: 1rem;
}
.descripcion h2 {
    font-weight: 600;
    font-size: 2.2rem;
    margin-bottom: 1rem;
    padding: 0;
}
.descripcion p {
    margin: 0;
    padding:0;
    line-height: 1.5rem;
}
.descripcion p span {
    color: var(--themeBGColor);
}

/* ---redes profecionales ---- */
.social-prof {
    margin-bottom: 0.5rem;
}
.social-prof .redes {
    display: inline-block;
    width: 2.9rem;
    height: 2.9rem;
    text-align: center;
    line-height: 3rem;
    border-radius: 50%;
    background-color: var(--iconBGColor);
    color: var(--iconColor);
    font-size: 1.8rem;
    margin: 0.5rem;
    transition: .3s;
}
.social-prof .redes:hover {
    background-color: var(--themeBGColor);
}