<!-- AcercaDe -->
<section id="acercade" class="acerca-de">
    <!-- Perfil -->
    <div class="row m-0 p-0 container-fluid text-white justify-content-center">
        <div class="col-lg-5 position-relative">
            <img src="assets/img/perfil.png" alt="fotoperfil" class="img-fluid position-absolute translate-middle perfil">
            <div class="informacion">
                <h1 class="m-0">{{ persona.nombre }} {{ persona.apellido }}</h1>
                <h3>Programador Web Full Stack</h3>
                <div class="social-prof align-items-center justify-content-center">
                    <a class="redes" href="https://github.com" target="_bank"><i class="fa-brands fa-github"></i></a>
                    <a class="redes" href="https://linkedin.com" target="_bank"><i class="fa-brands fa-linkedin"></i></a>
                    <a class="redes" href="#"><i class="fa-solid fa-square-share-nodes"></i></a>
                </div>
            </div>
        </div>
        <div class="col-lg-7 position-relative">
            <div class="descripcion align-items-center text-lg-start">
                <!-- Descripción -->
                <h2 class="mt-lg-5 mx-md-auto" >Acerca de mí</h2>
                <p><span>¡Hola!</span> Soy {{ persona.nombre }} {{ persona.apellido }}, <!--{{ persona.acercade }}--></p>
            </div>
        </div>
    </div>
</section>
