<!-- SECCIÓN Educación & Experiencia -->
<section id="curriculum" class="curriculum">
    <div class="row m-0 p-0 container-fluid text-white justify-content-center">
        <h2 class="text-center">Curriculum</h2>
        <!-- Educación -->
        <div class="col-lg-5 col-md-10 col-sm-10">
            <app-educacion></app-educacion>
        </div>
        <!-- Experiencia -->
        <div class="col-lg-5 col-md-10 col-sm-10">
            <app-experiencia></app-experiencia>
        </div>
        <div class="text-center cvitae">
            <button class="btn btn-primary position-relative"><a href={{persona.curriculum}} target="_blank" download="Curriculum Vitae - Tomás Caratti">Descargar CV<i class="fa-solid fa-download icon-p"></i></a>
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-secondary" *ngIf="isLogged">
                    <div class="editar d-flex">
                        <button class="edicion" routerLink="/CV-edit/1"><i class="fa-solid fa-pen-to-square"></i></button>
                    </div>
                </span>
            </button>
        </div>
    </div>
</section>
