/* --- Educación & Experiencia --- */
.curriculum {
    margin: 2rem;
}
.curriculum h2 {
    font-weight: 600;
    font-size: 2.2rem;
    margin-top: 3.5rem !important;
    padding-bottom: 1rem !important;
}
/* .curriculum .cvitae button {
    cursor: pointer;
    margin-top: 4rem;
} */