/* --- Educación & Experiencia --- */
.curriculum {
    margin: 2rem;
}
.curriculum h2 {
    font-weight: 600;
    font-size: 2.2rem;
    margin-top: 3.5rem !important;
    padding-bottom: 1rem !important;
}
.curriculum .cvitae {
    cursor: pointer;
    margin-top: 4rem;
}
.curriculum .cvitae a {
    padding: 0.2rem 0.5rem !important;
    letter-spacing: -0.05rem;
    align-items: center;
    text-decoration: none;
    color: var(--iconColor);
}