<!-- SECCIÓN Educación & Experiencia -->
<section id="curriculum" class="curriculum">
    <div class="row m-0 p-0 container-fluid text-white justify-content-center">
        <h2 class="text-center">Curriculum</h2>
        <!-- Educación -->
        <div class="col-lg-5 col-md-10 col-sm-10 colum educacion">
            <h3>Educación</h3>
            <div class="item edu">
                <div class="d-flex justify-content-between">
                    <h4>Título Estudio</h4>
                    <button type="button" class="certifi" data-bs-toggle="modal" data-bs-target="#certifi1Modal"><i class="fa-solid fa-address-card"></i></button>
                </div>
                <span class="casa">Institución</span>
                <span class="fecha">2014 - 2019</span>
                <p class="m-0 p-0">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quis, cumque veritatis eaque soluta aperiam id repudiandae fugiat deserunt! Explicabo, veritatis?</p>
            </div>
            <div class="item edu">
                <div class="d-flex justify-content-between">
                    <h4>Título Estudio</h4>
                    <button type="button" class="certifi" data-bs-toggle="modal" data-bs-target="#certifi3Modal"><i class="fa-solid fa-address-card"></i></button>
                </div>
                <span class="casa">Institución</span>
                <span class="fecha">2014 - 2019</span>
                <p class="m-0 p-0">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quis, cumque veritatis eaque soluta aperiam id repudiandae fugiat deserunt! Explicabo, veritatis?</p>
            </div>
            <div class="item edu">
                <div class="d-flex justify-content-between">
                    <h4>Título Estudio</h4>
                    <button type="button" class="certifi" data-bs-toggle="modal" data-bs-target="#certifi2Modal"><i class="fa-solid fa-address-card"></i></button>
                </div>
                <span class="casa">Institución</span>
                <span class="fecha">2014 - 2019</span>
                <p class="m-0 p-0">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quis, cumque veritatis eaque soluta aperiam id repudiandae fugiat deserunt! Explicabo, veritatis?</p>
            </div>
        </div>
        <!-- Experiencia -->
        <div class="col-lg-5 col-md-10 col-sm-10 colum experiencia">
            <h3>Experiencia</h3>
            <div class="item exp">
                <h4>Cargo</h4>
                <span class="casa">Empresa</span>
                <span class="fecha">2014 - 2019</span>
                <p class="m-0 p-0">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quis, cumque veritatis eaque soluta aperiam id repudiandae fugiat deserunt! Explicabo, veritatis?</p>
            </div>
            <div class="item exp">
                <h4>Cargo</h4>
                <span class="casa">Empresa</span>
                <span class="fecha">2014 - 2019</span>
                <p class="m-0 p-0">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quis, cumque veritatis eaque soluta aperiam id repudiandae fugiat deserunt! Explicabo, veritatis?</p>
            </div>
            <div class="item exp">
                <h4>Cargo</h4>
                <span class="casa">Empresa</span>
                <span class="fecha">2014 - 2019</span>
                <p class="m-0 p-0">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quis, cumque veritatis eaque soluta aperiam id repudiandae fugiat deserunt! Explicabo, veritatis?</p>
            </div>
        </div>
        <div class="text-center cvitae">
            <button class="btn btn-primary">Descargar CV<i class="fa-solid fa-download icon-p"></i></button>
        </div>
    </div>
</section>
