
<div class=" container d-flex justify-content-center mt-5">
    <div class="modal-dialog modal-dialog-centered add">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5 text-white">Añadir Proyecto</h1>
            </div>
            <div class="modal-body">
                <form class="add-edu" #f="ngForm" (ngSubmit)="Crear()" novalidate>
                    <label for="tituloEd" class="form-label">Nombre</label>
                    <input type="text" class="form-control" [class]="{'is-invalid': tituloEd.errors && (tituloEd.dirty || tituloEd.touched)}" id="tituloEd" name="tituloEd" [(ngModel)]="nombrePro" required #tituloEd="ngModel" autocomplete="off">
                        <div *ngIf="tituloEd.errors?.['required']" class="text-danger">
                            <p class="m-0">El título es obligatorio</p>
                        </div>
                    <label for="instiEd" class="form-label">Autor</label>
                    <input type="text" class="form-control" [class]="{'is-invalid': instiEd.errors && (instiEd.dirty || instiEd.touched)}" id="instiEd" name="instiEd" [(ngModel)]="autorPro" required #instiEd="ngModel" autocomplete="off">
                        <div *ngIf="instiEd.errors?.['required']" class="text-danger">
                            <p class="m-0">La institución es obligatoria</p>
                        </div>
                    <label for="fechaEd" class="form-label">URL Live</label>
                    <input type="text" class="form-control" [class]="{'is-invalid': fechaEd.errors && (fechaEd.dirty || fechaEd.touched)}" id="fechaEd" name="fechaEd" [(ngModel)]="urlLive" required #fechaEd="ngModel" autocomplete="off">
                        <div *ngIf="fechaEd.errors?.['required']" class="text-danger">
                            <p class="m-0">La fecha es obligatoria</p>
                        </div>
                    <label for="fechaEd" class="form-label">URL Repositorio</label>
                    <input type="text" class="form-control" [class]="{'is-invalid': fechaEd.errors && (fechaEd.dirty || fechaEd.touched)}" id="fechaEd" name="fechaEd" [(ngModel)]="urlRepo" required #fechaEd="ngModel" autocomplete="off">
                        <div *ngIf="fechaEd.errors?.['required']" class="text-danger">
                            <p class="m-0">La fecha es obligatoria</p>
                        </div>
                    <label for="descripcionEd" class="form-label">Descripcion</label>
                    <textarea class="form-control" [class]="{'is-invalid': descripcionEd.errors && (descripcionEd.dirty || descripcionEd.touched)}" id="descripcionEd" name="descripcionEd" cols="50" rows="2" [(ngModel)]="descripcionPro" required #descripcionEd="ngModel" autocomplete="off"></textarea>
                        <div *ngIf="descripcionEd.errors?.['required']" class="text-danger">
                            <p class="m-0">La descripcion es obligatoria</p>
                        </div>
                    <!-- <div class="image-upload d-sm-flex justify-content-center mt-2 mb-2">
                        <img [src]="imgService.urlimg" alt="Imagen" id="img" class="mt-2 mb-2"/>
                        <div class="d-sm-flex mt-1 mb-1 mx-sm-4 labelimg text-sm-start">
                            <label for="foto">Foto
                                <span class="btn btn-light w-100">Cambiar</span>
                            </label>
                            <input id="foto"name="foto" type="file" accept=".jpg, .png, .jpeg" [(ngModel)]="imgPro" required #foto="ngModel" (change)="subirImg($event)"/>
                        </div>
                    </div> -->
                    <label for="imgProy" class="form-label">URL Imagen</label>
                    <input type="text" class="form-control" [class]="{'is-invalid': imgProy.errors && (imgProy.dirty || imgProy.touched)}" id="imgProy" name="imgProy" [(ngModel)]="imgPro" required #imgProy="ngModel" autocomplete="off">
                    <div *ngIf="imgProy.errors?.['required']" class="text-danger">
                        <p class="m-0">La URL es obligatoria</p>
                    </div>
                    <div class="modal-footer d-flex justify-content-center mt-4">
                        <button class="btn btn-primary btn-lg">Aceptar <!--<i class="fa-solid fa-circle-check icon-p"></i>--></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

