<div class=" container d-flex justify-content-center mt-5" *ngIf="hab">
    <div class="modal-dialog modal-dialog-centered edit">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5 text-white">Editar habilidad</h1>
            </div>
            <div class="modal-body">
                <form class="edit-hab" #f="ngForm" (ngSubmit)="Editar()" novalidate>
                    <label for="nombre" class="form-label">Nombre</label>
                    <input type="text" class="form-control" [class]="{'is-invalid': nombre.errors && (nombre.dirty || nombre.touched)}" id="nombre" name="nombre" [(ngModel)]="hab.nombreHys" required #nombre="ngModel" autocomplete="off">
                    <div *ngIf="nombre.errors?.['required']" class="text-danger">
                        <p class="m-0">El nombre es obligatorio</p>
                    </div>
                    <label for="icono" class="form-label">Icono</label>
                    <input type="text" class="form-control" [class]="{'is-invalid': icono.errors && (icono.dirty || icono.touched)}" id="icono" name="icono" [(ngModel)]="hab.iconoHys" required #icono="ngModel" autocomplete="off">
                    <div *ngIf="icono.errors?.['required']" class="text-danger">
                        <p class="m-0">El icono es obligatorio</p>
                    </div>
                    <label for="porcenHab" class="form-label">Porcentaje</label>
                    <input type="text" class="form-control" [class]="{'is-invalid': porcenHab.errors && (porcenHab.dirty || porcenHab.touched)}" id="porcenHab" name="porcenHab" [(ngModel)]="hab.porcentaje" required #porcenHab="ngModel" autocomplete="off">
                    <div *ngIf="porcenHab.errors?.['required']" class="text-danger">
                        <p class="m-0">El porcentaje es obligatorio</p>
                    </div>
                    <div class="modal-footer d-flex justify-content-center mt-4">
                        <button class="btn btn-primary">Aceptar <!--<i class="fa-solid fa-circle-check icon-p"></i>--></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>