<div class="item exp">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Editar Experiencia</h1>
            </div>
            <div class="modal-body">
                <form class="edit-exp">
                    <label for="Cargo" class="form-label">Cargo</label>
                    <input type="text" class="form-control" id="Cargo">
                    <label for="Empresa" class="form-label">Empresa</label>
                    <input type="text" class="form-control" id="Empresa">
                    <label for="Fecha" class="form-label">Fecha</label>
                    <input type="text" class="form-control" id="Fecha">
                    <label for="Descripcion" class="form-label">Descripcion</label>
                    <input type="text" class="form-control" id="Descripcion">
                </form>
            </div>
            <div class="modal-footer d-flex justify-content-around">
                <button type="submit" class="btn btn-secondary">Editar</button>
                <button type="submit" class="btn btn-danger">Cancelar</button>
            </div>
        </div>
    </div>
</div>

