<div class="edit">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Editar Experiencia</h1>
            </div>
            <div class="modal-body">
                <form class="edit-exp" #f="ngForm" (ngSubmit)="onEdit()" novalidate>
                    <label for="cargo" class="form-label">Cargo</label>
                    <input type="text" class="form-control" [class]="{'is-invalid': nombre.errors && (nombre.dirty || nombre.touched)}" id="nombre" name="nombre" [(ngModel)]="exp" required #nombre="ngModel" placeholder="Ej: Tomás" autocomplete="off">
                    <div *ngIf="nombre.errors?.['required']" class="text-danger">
                        <p class="m-0">El nombre es obligatorio</p>
                    </div>

                    <label for="empresa" class="form-label">Empresa</label>
                    <input type="text" class="form-control" id="empresa" name="empresaExp" required>

                    <label for="fecha" class="form-label">Fecha</label>
                    <input type="text" class="form-control" id="fecha" name="fechaExp" required>

                    <label for="descripcionExp" class="form-label">Descripcion</label>
                    <input type="text" class="form-control" id="descripcionExp" name="descripcionExp" required>
                    <div class="modal-footer d-flex justify-content-around">
                        <app-edicion></app-edicion>
                    </div>
                </form>
        </div>
    </div>
</div>

