<div class=" container d-flex justify-content-center mt-5" *ngIf="exp">
    <div class="modal-dialog modal-dialog-centered edit">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Editar Experiencia</h1>
            </div>
            <div class="modal-body">
                <form class="edit-exp" #f="ngForm" (ngSubmit)="Editar()" novalidate>
                    <label for="cargoEx" class="form-label">Cargo</label>
                    <input type="text" class="form-control" [class]="{'is-invalid': cargoEx.errors && (cargoEx.dirty || cargoEx.touched)}" id="cargoEx" name="cargoEx" [(ngModel)]="exp.cargoExp" required #cargoEx="ngModel" autocomplete="off">
                        <div *ngIf="cargoEx.errors?.['required']" class="text-danger">
                            <p class="m-0">El cargo es obligatorio</p>
                        </div>
                    <label for="empresaEx" class="form-label">Empresa</label>
                    <input type="text" class="form-control" [class]="{'is-invalid': empresaEx.errors && (empresaEx.dirty || empresaEx.touched)}" id="empresaEx" name="empresaEx" [(ngModel)]="exp.empresaExp" required #empresaEx="ngModel" autocomplete="off">
                        <div *ngIf="empresaEx.errors?.['required']" class="text-danger">
                            <p class="m-0">La empresa es obligatoria</p>
                        </div>
                    <label for="fechaEx" class="form-label">Fecha</label>
                    <input type="text" class="form-control" [class]="{'is-invalid': fechaEx.errors && (fechaEx.dirty || fechaEx.touched)}" id="fechaEx" name="fechaEx" [(ngModel)]="exp.fechaExp" required #fechaEx="ngModel" autocomplete="off">
                        <div *ngIf="fechaEx.errors?.['required']" class="text-danger">
                            <p class="m-0">La fecha es obligatoria</p>
                        </div>
                    <label for="descripcionEx" class="form-label">Descripcion</label>
                    <textarea class="form-control" [class]="{'is-invalid': descripcionEx.errors && (descripcionEx.dirty || descripcionEx.touched)}" id="descripcionEx" name="descripcionEx" cols="50" rows="2" [(ngModel)]="exp.descripcionExp" required #descripcionEx="ngModel" autocomplete="off"></textarea>
                        <div *ngIf="descripcionEx.errors?.['required']" class="text-danger">
                            <p class="m-0">La descripcion es obligatoria</p>
                        </div>
                    <div class="modal-footer d-flex justify-content-center mt-4">
                        <button class="btn btn-primary">Aceptar <!--<i class="fa-solid fa-circle-check icon-p"></i>--></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

